/*styling*/

.healthBar img{
  width: 80px;
}
.action {
  width: 100%;
}
.overlay-animations {
  width: 400px;
  height:400px;
  background: url("../img/POW.jpg");
  background-size: contain;
  position: absolute;
  display: none;
}
.winner-overlay {
  width: 400px;
  height:400px;
  background: url("../img/ely.png");
  background-size: contain;
  position: absolute;
  display: none;
}
.loser-overlay {
  width: 400px;
  height:400px;
  background: url("../img/lindsay.png");
  background-size: contain;
  position: absolute;
  display: none;
}
