/*styling*/
form, .questions, .action {
  background: white;
}

.healthBar img{
  width: 80px;
}
.action {
  width: 100%;
}
.overlay-animations {
  width: 400px;
  height:400px;
  background: url("../img/POW.jpg");
  background-size: contain;
  position: absolute;
  display: none;
}
.winner-overlay {
  width: 100%;
  height: 100%;
  background: url("../img/you-win.png");
  background-color: white;
  background-size: contain;
  position: absolute;
  z-index: -9;
}
.loser-overlay {
  width: 100%;
  height:100%;
  background: url("../img/game-over.png");
  background-size: contain;
  background-color: white;
  position: absolute;
  z-index: -9;
}
label img{
  width:50px;
}
